@charset "UTF-8";
/* start header */
#header {
    padding: 12px 0;
}
    /* header logo */
    .header-logo img {
        width: 75px;
        height: 30px;
    }
    /* Topbar */
    .topbar a {
        color: var(--black);
        font-size: 0.875rem;
        text-transform: uppercase;
        font-weight: 700;
        margin-right: 20px;
        transition: all .3s ease;
    }
    .topbar a:hover,
    .topbar a:focus {
        color: var(--hover);
    }
    /* language */
    .language {
        background: var(--bg-white);
        padding: 6px 34px 6px 14px;
        border-radius: 50px;
        cursor: pointer;
        position: relative;
        margin-right: 10px;
    }
        .language span {
            color: var(--black);
            font-weight: 500;
            font-size: 0.75rem;
        }
        .language i {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: #f9f9f9;
            position: absolute;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #7b7b7b;
        }
    .header-search {
        cursor: pointer;
    }
        .header-search i {
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: var(--bg-white);
            display: flex;
            align-items: center;
            justify-content: center;
            color: #7b7b7b;
        }
/* end header */
/* start navbar */
#nav .navbar {
    background: var(--bg-white);
    height: 40px;
}
    .navbar h2 {
        background-color: var(--blue);
        color: #fff;
        font-weight: 600;
        font-size: 0.75rem;
        line-height: 2.5rem;
        padding-left: 10px;
        padding-right: 10px;
        position: relative;
    }
    .navbar h2::before {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        right: -12px;
        width: 0;
        height: 0;
        margin: auto;
        border-style: solid;
        border-width: 20px 0 20px 12px;
        border-color:   transparent
                        transparent
                        transparent
                        #17206a;
    }
    .navbar a:first-of-type {
        padding-left: 20px;
    }
    .navbar a {
        transition: all 0.3s ease;
        font-weight: 400;
        line-height: 2.5rem;
        font-size: 0.75rem;
        color: var(--text-color);
        display: flex;
        align-items: center;
    }
    .navbar a {
        color: var(--blue);
    }
    .navbar a::before {
        content: "";
        width: 1px;
        height: 12px;
        background: #000;
        display: block;
        margin: 0 8px;
    }
    .navbar a::before {
        content: "";
        width: 1px;
        height: 12px;
        background: #000;
        display: block;
        margin: 0 8px;
    }
    
/* end navbar */